body {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("https://i.pinimg.com/originals/d5/2f/31/d52f310dd4b300d68b57fb0c65f62c7a.jpg");
}
.card {
  background-color: #daedfd;
  padding-bottom: 30px;
  margin: 50px auto;
  margin-top: 85px;
  padding: 15px;
  width: 80%;
  height: 593px;
  border-radius: 10px;
}
.search-form {
  width: 90%;
  margin-left: 39px;
}
input.search-bar {
  width: 84%;
}
.col-2 {
  margin-left: 30px;
}

h3 {
  text-align: center;
  font-weight: 550;
  font-size: 22px;
  font-family: sans-serif;
}
h1 {
  font-family: sans-serif;
  font-weight: 560;
  font-size: 23px;
  margin-left: 40px;
  margin-top: 20px;
}
p {
  font-size: 43px;
}
.col {
  margin-left: 40px;
}

ul {
  font-family: sans-serif;
  font-weight: 560;
  font-size: 23px;
  margin-left: 8px;
}

li {
  color: gray;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}
